<div class="container">
    <br>
    <h1><b><i>About</i></b></h1><br>
    <p>I Completed My Machine Learning Course From <b>Machine learning A-Z on Udemy.</b>This is not any project.I built
        this only for showing all my small projects on each Algorithms of Machine Learning.</p>

    <h5><b>1.REGRESSION</b></h5>
    <ul>
        <li>Simple Linear Regression</li>
        <li>Multiple Linear Regression</li>
        <li>Polynomial Linear Regression</li>
        <li>Support Vector Regression</li>
        <li>Decision Tree Regression</li>
        <li>Random Forest Regression</li>
        <li>Evaluating Performance of Regression Models</li>
    </ul>
    <h5><b>2.CLASSIFICATION</b></h5>
    <ul>
        <li>Logistic Regression</li>
        <li>K-Nearest Neighbour Classification</li>
        <li>Support Vector Machine</li>
        <li>Naive Bayes</li>
        <li>Decision Tree Classification</li>
        <li>Random Forest Classification</li>
        <li>Evaluating Performance of Classification Models</li>
    </ul>
    <h5><b>3.CLUSTERING</b></h5>
    <ul>
        <li>K-Means Clustering</li>
        <li>Hierarchical Clustering</li>
    </ul>
    <h5><b>4.ASSOCIATION RULE LEARNING</b></h5>
    <ul>
        <li>Apriori</li>
        <li>Eclat</li>
    </ul>
    <h5><b>5.REINFORCEMENT</b></h5>
    <ul>
        <li>Upper Confidence Bound</li>
        <li>Thompson Sampling</li>
    </ul>
    <h5><b>6.NATURAL LANGUAGE PROCESSING</b></h5>
    <ul>
        <li>Natural Language Processing Algorithm</li>
    </ul>
    <h5><b>7.DIMENSIONABILITY REDUCTION</b></h5>
    <ul>
        <li>Performance Component Analysis (PCA)</li>
        <li>Learning Dimensionability Analysis (LDA)</li>
        <li>Kernal PCA</li>
    </ul>
    <h5><b>8.MODEL SELECTION & BOOSTING</b></h5>
    <ul>
        <li>K-Fold Cross Validation</li>
        <li>Grid Search</li>
        <li>XGBoost</li>
    </ul>
    <hr>
    <p><b><i>--- Some Small projects of Regression and Classification is mentioned in this Web App </i></b></p>
    <p><b><i>--- I provided My <a href="https://github.com/vikasjoshis001/Machine_Learning_course">GitHub Link</a> of
                Machine Learning.My Remaining projects are there:</i></b></p>
    <p></p>
</div>

<router-outlet></router-outlet>