footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:0px;
    background-color: gainsboro;
    color: black;
    text-align: center;
}

a,u
{
    color: black;
    text-decoration: none;

}