appdirs==1.4.4
asgiref==3.2.5
braintree==4.0.0
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-allauth==0.41.0
django-cors-headers==3.3.0
django-crispy-forms==1.9.0
django-filter==2.2.0
django-markdown-deux==1.0.5
django-pagedown==2.0.3
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.7.0
importlib-resources==3.0.0
joblib==0.16.0
Markdown==3.2.1
markdown2==2.3.8
nodeenv==1.3.5
numpy==1.19.0
oauthlib==3.1.0
Pillow==7.0.0
pipenv==2020.6.2
psycopg2-binary==2.8.5
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
sqlparse==0.3.1
stripe==2.43.0
threadpoolctl==2.1.0
urllib3==1.25.8
virtualenv==20.0.26
virtualenv-clone==0.5.4
whitenoise==5.1.0
zipp==3.1.0
